<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <header>
        <img class="logo" src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
    </header>

    <div id="root">
        <!-- filtri -->
        <div class="filters">
            <!-- filtro singolo -->
            <div class="single-filter">
                <input @keyup.enter="addNewToDo" v-model="newToDoText" type="text" placeholder="Nuovo todo">
                <button>Aggiungi</button>
            </div>
        </div>

        <!-- todo area -->
        <div class="todos">
            <ul v-for="(element, index) in todoArray">
                <!-- single item -->
                <li v-bind:class="{ line: element.done }"> {{ element.testo }} 
                    <div class="todo-cross">
                        <i @click="removeLi(index)" class="fas fa-times"></i>
                    </div>
                 </li>
                
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>